# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend/.env

# Node
node_modules/
dist/
.DS_Store

# Endee-io
vendor/endee/build/
vendor/endee/data/
vendor/endee/bin/
*.o
*.a
*.so
*.dylib
ndd
ndd-*

# Project specific
backend/temp_*
